@charset "UTF-8";

:root{
    --cor-menu: #222222;
    --cor-menu-header: #333333;
    --cor-hovermenu: white;
    --cor-font-menu: white;
    --cor_menu-shadow: rgb(0, 0, 0, 0.5);
    
    --cor-header-cont: #0870BE;
    --cor-backntitle: #f0f2f4;
    --corfont-content: #707476;
    --cor-content: white;
    --cor-border: #d9d9dd;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#container{
    display: flex;
    position: relative;
}
/* ----------------Menu---------------- */
#container > #menu-box{
    position: fixed;
    z-index: 2;
    width: 50vw;
    max-width: 350px;
    height: 100vh;
    background-color: var(--cor-menu);
    color: var(--cor-font-menu);
    display: none;
}
#menu-box > #menu-header{
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    background-color: var(--cor-menu-header);
    color: var(--cor-fontmenu-header);
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px var(--cor_menu-shadow);
}
#menu-box > menu{
    margin: 10px;
    margin-top: 30px;
}
#menu-box > menu a{
    display: block;
    color: var(--cor-font-menu);
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}
#menu-box > menu a:hover{
    background-color: var(--cor-hovermenu);
    color: var(--cor-menu);
    box-shadow: 0px 0px 5px rgb(255, 255, 255, 0.3);
    font-weight: 600;
}
#menu-box > menu a.menu-active{
    background-color: var(--cor-hovermenu);
    color: var(--cor-menu);
    font-weight: 600;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}
#menu-box > menu span{
    font-size: 19px;
    transform: translateY(3px);
}
/* ----------------Content---------------- */
#content-section{
    height: 100%;
    background-color: var(--cor-backntitle);
}
#content-header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--cor-header-cont);
    color: var(--cor-content);
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
}
#menu-actv{
    position: fixed;
    z-index: 2;
    background-color: var(--cor-header-cont);
    line-height: 60px;
    left: 10px;
    color: var(--cor-content);
    cursor: pointer;
    user-select: none;
}
#content-menu{
    min-height: 60px;
    background-color: var(--cor-content);
    margin-top: 60px;
    padding: 20px;
    border-bottom: 1px solid var(--cor-border);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
}
#content-menu nav a{
    color: var(--corfont-content);
    text-decoration: none;
    font-weight: 500;
}
#content-menu nav a::after{
    content: ' > ';
}
#content-menu nav a:last-child{
    color: var(--cor-header-cont);
}
#content-menu nav a:last-child::after{
    content: '';
}
#content-menu_conf{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    max-width: calc(85% + 30px);
    margin: auto;
    margin-top: 10px;
}
#content-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 85%;
    box-sizing: border-box;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 20px;
}
.content{
    min-width: 50%;
    background-color: var(--cor-content);
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.content-flex{
    min-width: 49%;
    background-color: var(--cor-content);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;
}
.content-title{
    width: calc(100% + 20px);
    height: 30px;
    line-height: 30px;
    background-color: var(--cor-backntitle);
    color: var(--corfont-content);
    font-size: 1.3em;
    font-weight: 600;
    margin: -15px 0 15px -15px;
    padding-left: 10px;
    border-bottom: 1px solid var(--cor-border);
}
/*------------ Forms, inputs----------------*/
input[type=button]{
    background-color: var(--cor-backntitle);
    color: var(--cor-header-cont);
    font-size: .9rem;
    font-weight: 600;
    padding: 10px;
    border: 1px solid var(--cor-backntitle);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}


/*Modal*/
.modal{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    z-index: 4;
    top: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
}
.modal span{
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    top: 5px;
    right: 10%;
    font-size: 1.4em;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px;
}
.modal_title{
    margin: -20px -20px 10px;
    background-color: var(--cor-header-cont);
    color: white;
    padding: 5px 20px;
    font-size: 1.4em;
    text-align: center;
}
.modal_body{
    width: 50%;
    margin: auto;
    border: 1px solid red;
}
.modal_content{
    width: 80%;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    text-align: justify;
    border-radius: 5px;
    overflow: auto;
}