@charset "UTF-8";

:root{
    --cor-menu: #222222;
    --cor-menu-header: #333333;
    --cor-hovermenu: #84B026;
    --cor-header-cont: #0870BE;
    --cor-back: #f0f2f4;
    --corfont-content: #707476;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#container{
    position: relative;
}
/* ----------------Menu---------------- */
#container > #menu-logo{
    position: fixed;
    z-index: 2;
    background-color: var(--cor-header-cont);
    line-height: 60px;
    left: 10px;
    color: white;
    cursor: pointer;
    user-select: none;
}
#container > #menu-box{
    position: fixed;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    background-color: var(--cor-menu);
    color: white;
    display: none;
    box-shadow: 1px 0px 10px rgb(0, 0, 0, .5);
}
#menu-box > #menu-header{
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    background-color: var(--cor-menu-header);
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}
#menu-box > menu{
    margin: 10px;
    margin-top: 30px;
}
#menu-box > menu a{
    display: block;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}
#menu-box > menu a:hover{
    background-color: white;
    color: var(--cor-menu-header);
    box-shadow: 0px 0px 5px rgb(255, 255, 255, 0.3);
}
.menu-active{
    background-color: var(--cor-menu-header);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}
#menu-box > menu span{
    font-size: 19px;
    transform: translateY(3px);
}
/* ----------------Content---------------- */
#content-section{
    width: 100%;
    height: 100%;
    background-color: var(--cor-header-cont);
}
#content-header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--cor-header-cont);
    color: white;
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
}
#content-body{
    min-height: 100vh;
    background-color: var(--cor-back);
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 20px;
}
#content-menu{
    min-height: 50px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
}
.content{
    min-width: 50%;
    max-width: 85%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.content-title{
    width: calc(100% + 30px);
    height: 30px;
    line-height: 30px;
    background-color: var(--cor-back);
    color: var(--corfont-content);
    font-size: 1.3em;
    font-weight: 600;
    margin: -15px 0 15px -15px;
    padding-left: 10px;
    border-bottom: 1px solid #d9d9dd;
}